*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
/* tu ngoai vao rong
tu tren xuong duoi
tu tong quan den chi tiet

*/
/*  1 .vitri
    2.kich thuoc
    3mau sac
    4.kieu dang*/
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
    

}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;

}
#nav > li{
    display: inline-block;
}
#nav li {
    
    position: relative;
    

}
#nav > li:hover > a {
    color: black;
    background-color: #ccc;
    display: inline-block;
}
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
    display: block;

}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    

}
#nav .subnav a {color: black;
                padding: 0 12px;
}
#nav>li>a {color: aliceblue;
    text-transform: uppercase;}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
   display: block;
}
#nav li:hover .subnav{ 
    display: block;

}
#nav .nav-muiten {font-size: 14px;}

#header .mobile-menu-btn{
    float: right;
    padding: 0 22px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .search-btn{
    float: right;
    padding: 0 22px;

}
#header .mobile-menu-btn:hover{
    background-color: #ccc; 
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;


}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(./imgband/slider1.jpeg) top center / cover no-repeat;

        

}
.text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;

}
.text-description{
    margin-top: 25px;
}

#content {

}
.content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
}
.section-heading{
    font-size: 30px;
    font-weight: 500px;
    text-align: center;
    letter-spacing: 4px;
}
.section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    
}
.about-text{
    margin-top: 25px;
    margin-bottom: 15px;
}
.member-item{
    float: left;
    width: 33.33333%;
    text-align: center;

}
.name{
    font-size: 15px;

}
.member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;


}

#footer {

}
